* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #DD4A48;
  height: 6vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
  color: aliceblue;
}
